.wrapper {
  width: 100%;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: beige;
}
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 100%;
  background-color: #fff;
}
